<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="HabitSensei: Helping you achieve your goals and become the hero of your own Ninja journey." />
    <meta name="keywords" content="HabitSensei, Habit Tracker, Coding-Ninja-Habit-Tracker, Habit Sensei, Habit-Sensei" />
    <meta name="author" content="Vishal Kumar(https://github.com/am-vishal)" />
    <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/am-vishal/HabitSensei/main/views/favicon.png" />
    <title>HabitSensei</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
      integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://kit.fontawesome.com/df845d2570.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron mt-2 text-center">
        <h1 class="display-4">Welcome to Habit Sensei!</h1>
        <p class="lead">HabitSensei: Helping you achieve your goals and become the hero of your own Ninja journey.</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
          <div class="card shadow-lg">
            <div class="card-header bg-primary text-light">
              <h2 class="card-title mb-0">HabitSensei</h2>
            </div>
            <div class="card-body">
              <form action="/create" method="post" id="add-habit-form" class="mb-4">
                <div class="input-group">
                  <input type="text" placeholder="Enter a new habit" class="form-control" id="habit-title" name="habit" required aria-label="New habit title" />
                  <button type="submit" class="btn btn-primary" id="button-addon2"><i class="fas fa-plus"></i></button>
                </div>
              </form>
              <% if (habits.length > 0) { %>
              <ul class="list-group" id="habit-list">
                <% for (let habit of habits) { %>
                <li class="list-group-item">
                  <div class="row justify-content-between align-items-center">
                    <div class="col-md-8">
                      <h5 class="mb-0"><%= habit.description %></h5>
                      <div class="progress" style="margin: 6px 0 0px 0px !important">
                        <div
                          class="progress-bar bg-success"
                          role="progressbar"
                          style="width: <%= habit.completed / 7 * 100 %>%"
                          aria-valuenow="<%= habit.completed %>"
                          aria-valuemin="0"
                          aria-valuemax="7"
                        ></div>
                      </div>
                      <small><%= habit.completed %> out of 7 days</small>
                    </div>
                    <div class="col-md-4 text-end">
                      <a href="/delete/<%= habit.id %>" class="btn btn-sm btn-outline-danger"><i class="fas fa-trash"></i></a>
                    </div>
                  </div>
                </li>
                <% } %>
              </ul>
              <% } else { %>
              <div class="text-center">
                <p class="lead mb-0">No habits added yet</p>
              </div>
              <% } %>
              <div class="mt-4 text-center">
                <a href="/habit/weekly" class="btn btn-sm btn-outline-primary">View Weekly Progress</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
